pipeline/End_to_End_ETL_pipeline.json
{
	"name": "End_to_End_ETL_pipeline",
	"properties": {
		"activities": [
			{
				"name": "New_Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "select max(CreatedTimestamp) as new_watermark from rawsalesdata"
					},
					"dataset": {
						"referenceName": "onpremsource",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Old_Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(lastload_timestamp) as old_watermark from config",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "New_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Old_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "@concat(\n  'SELECT * FROM rawsalesdata WHERE CreatedTimestamp > ''',\n   activity('Old_Watermark').output.value[0].old_watermark,\n  ''''\n)\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "onpremsource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Ee_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "raw -silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UpdateWatermark]",
					"storedProcedureParameters": {
						"NewWatermark": {
							"value": {
								"value": "@activity('New_Watermark').output.value[0].new_watermark\r\n",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "raw -silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/machasatya102@gmail.com/databricks_trail/magna_sales/cleaning_&_validation",
					"baseParameters": {
						"watermark_param": {
							"value": "@activity('Old_Watermark').output.value[0].old_watermark\n",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "adbmagna",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "silver-gold",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "raw -silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/machasatya102@gmail.com/databricks_trail/magna_sales/gold_agg"
				},
				"linkedServiceName": {
					"referenceName": "adbmagna",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "merge_dimcustomer",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "silver-gold",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_Merge_DimCustomer]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "merge_dimproduct",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "silver-gold",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_Merge_DimProduct]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "merge_dimdate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "silver-gold",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_Merge_DimDate]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "merge_factsalesdeatils",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "merge_dimcustomer",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "merge_dimproduct",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "merge_dimdate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[SP_Merge_FactSalesOrderDetail]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "sales_magna"
		},
		"annotations": []
	}
}