pipeline/poc underdsatnding scd2.json
{
	"name": "poc underdsatnding scd2",
	"properties": {
		"activities": [
			{
				"name": "new_watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "select max(datetimestamp) as new_watermark from sale_raw"
					},
					"dataset": {
						"referenceName": "sale_raw_table",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "old_watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(new_watermark) as old_watermark from db1.watermark",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "watermarktable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "new_watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "old_watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "@concat(\n  'SELECT * FROM sale_raw WHERE datetimestamp > ''',\n   activity('old_watermark').output.firstRow.old_watermark,\n  ''''\n)\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sale_raw_table",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "raw_silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/machasatya102@gmail.com/databricks_trail/poc/silver",
					"baseParameters": {
						"watermark_param": {
							"value": "@activity('old_watermark').output.firstRow.old_watermark",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "adbmagna",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}